# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
lib/config_maps.dart
android/build.gradle
android/app/build.gradle
android/app/src/debug/AndroidManifest.xml
android/app/src/main/AndroidManifest.xml
lib/All Screens/absent_students.dart
lib/All Screens/confirm_payment.dart
lib/All Screens/driver_list.dart
lib/All Screens/feedback_screen.dart
lib/All Screens/get_child_on_bus.dart
lib/All Screens/homeworks_grades.dart
lib/All Screens/main_screen.dart
lib/All Screens/profile_screen.dart
lib/All Screens/verify_email.dart
